# Datetime and Timestamp

In [30]:
import pandas as pd
import numpy as numpy
import datetime

pandas captures 4 general time related concepts:

1) **Date times**: **Timestamp** A specific date and time with timezone support. 
    * Similar to _datetime.datetime_ from the standard library.
2) **Time spans**: **Period**: A span of time defined by a point in time and its associated frequency.
3) **Time deltas**: **Timedelta**: An absolute time duration. 
    * Similar to _datetime.timedelta_ from the standard library.
4) **Date offsets**: **DateOffset**: A relative time duration that respects calendar arithmetic. 
    * Similar to _dateutil.relativedelta.relativedelta_ from the dateutil package.
###### https://pandas.pydata.org/docs/user_guide/timeseries.html#overview
###### https://pandas.pydata.org/docs/user_guide/timeseries.html#time-date-components

## 1) Timestamps
###### Know the date and time stamps
###### an instance of the Timestamp class represents a single point of time
###### see also datetimes-periods-datespan

In [31]:
# method now() from Timestamp returns date and time
pd.Timestamp.now()

Timestamp('2024-01-02 16:12:15.164641')

In [32]:
# method date() of a Timestamp object returns date
pd.Timestamp.now().date()

datetime.date(2024, 1, 2)

In [33]:
# method time() returns time()
pd.Timestamp.now().time()

datetime.time(16, 12, 15, 176447)

### Timestamp format
###### Timestamp are stamps over integers
###### see also datetimes-periods-datespan

In [34]:
# In this example takes int values and convert them into a date and time
print(f"{pd.Timestamp(2023,2,1)}, {pd.Timestamp(year=2017, month=1, day=1, hour=12)}")

2023-02-01 00:00:00, 2017-01-01 12:00:00

In [35]:
# in this example take str, then convert to a number and after format as a timestamp
time_stamp = pd.Timestamp('2022-02-09')
print(time_stamp)
print('{}, {} {}, {}'.format(time_stamp.day_name(), time_stamp.month_name(), time_stamp.day, time_stamp.year))

2022-02-09 00:00:00
Wednesday, February 9, 2022

### Convert strings to timestamps
###### date and times are integers

In [36]:
# A veri powerfull to convert to datetime from string is with pd.to_datetime(df['Date'], format='mixed')
# It's no infalible but mostly works
stringdate = "'2024/01/02'"
pd.to_datetime(stringdate, format='mixed')

Timestamp('2024-01-02 00:00:00')

In [37]:
# Get system date string: 
system_date_str = datetime.datetime.now().strftime("%Y-%m-%d")  # Customize format as needed
system_date_str     # this is a string, NOT a timestamp

'2024-01-02'

In [38]:
# Convert the string into a timestamp
date_timestamp = pd.to_datetime(system_date_str)
date_timestamp  # this is a timestamp

Timestamp('2024-01-02 00:00:00')

## 2) Periods
###### Year, month, weeks. group, adding and other
###### While an instance of the Timestamp class represents a single point of time, an instance of the Period object represents a period such as a year, a month, etc.

In [39]:
# Period object representing the YEAR 2021 period, and the 'A-DEC' means that the period is annual, which ends in December.
year = pd.Period('2021')
year

Period('2021', 'A-DEC')

In [40]:
# Period object provides many useful methods and properties. 
# For example, if you want to return the start and end time of the period, use the properties:
print(f"'Start Time:', {year.start_time}, 'End Time:', {year.end_time}")

'Start Time:', 2021-01-01 00:00:00, 'End Time:', 2021-12-31 23:59:59.999999999

In [41]:
# Period object representing MONTH january period of 2024 year
month = pd.Period('2024-01')
print(month)
# For example, if you want to return the start and end time of the period, use the properties:
print(f"'Start Time:', {month.start_time}, 'End Time:', {month.end_time}")

2024-01
'Start Time:', 2024-01-01 00:00:00, 'End Time:', 2024-01-31 23:59:59.999999999

In [42]:
# Periods can be set by using letters like 'Y' or 'M' or 'D'
year = pd.Period('2024', freq='Y')
month = pd.Period('2023-12-09 10:00:00', freq='M')
day = pd.Period('2024/12/09', freq='D')
hour = pd.Period('2024/12/09', freq='H')

year, month, day, hour

(Period('2024', 'A-DEC'),
 Period('2023-12', 'M'),
 Period('2024-12-09', 'D'),
 Period('2024-12-09 00:00', 'H'))

In [43]:
# add and subtract in periods
print(year -1, year, year +1)
print(month -1, month, month +1)

2023 2024 2025
2023-11 2023-12 2024-01

In [44]:
# construct an serie of dates
# date_range()
for i in pd.date_range(start='2024/01/01', freq='M', periods=6):
    print(i)

2024-01-31 00:00:00
2024-02-29 00:00:00
2024-03-31 00:00:00
2024-04-30 00:00:00
2024-05-31 00:00:00
2024-06-30 00:00:00

In [45]:
for i in pd.date_range(start='2023/12/30', freq='D', periods=5):
    print(i)

2023-12-30 00:00:00
2023-12-31 00:00:00
2024-01-01 00:00:00
2024-01-02 00:00:00
2024-01-03 00:00:00