# Data entry inconsistencies

In [5]:
# environment setup
import pandas as pd
import numpy as np
import thefuzz
from thefuzz import process
import charset_normalizer

In [6]:
# read in all our data
professors = pd.read_csv("H:\\Datasets\\pakistan_intellectual_capital.csv")

In [7]:
professors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1142 entries, 0 to 1141
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 1142 non-null   int64
 1   S#                                         1142 non-null   int64
 2   Teacher Name                               1142 non-null   object
 3   University Currently Teaching              1142 non-null   object
 4   Department                                 1142 non-null   object
 5   Province University Located                1142 non-null   object
 6   Designation                                1123 non-null   object
 7   Terminal Degree                            1138 non-null   object
 8   Graduated from                             1142 non-null   object
 9   Country                                    1142 non-null   object
 10  Year                                       489 non-null    float64
 11  Area of Specialization/Research Interests  623 non-null    object
 12  Other Information                          124 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 116.1+ KB

In this file there are two columns of countries: professors and graduated from. Lets clean obth columns.

In [12]:
# let see professors countries
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove trailing white spaces
professors['Country'] = professors['Country'].str.strip()
countries = professors.Country.unique()
countries

array(['thailand', 'pakistan', 'germany', 'austria', 'australia', 'uk',
       'china', 'france', 'usofa', 'southkorea', 'malaysia', 'sweden',
       'italy', 'canada', 'norway', 'ireland', 'new zealand', 'urbana',
       'portugal', 'russian federation', 'usa', 'finland', 'netherland',
       'greece', 'turkey', 'south korea', 'macau', 'singapore', 'spain',
       'japan', 'hongkong', 'saudi arabia', 'mauritius', 'scotland'],
      dtype=object)

with all in lower case and all stripped se see...
* south kirea instead of south korea
* usofa instead of usa

1. get the top 10 closest matches to "south korea"

In [19]:
# extract countries similar to south korea like southkorea
matches = process.extract("south korea", countries, limit=10)
matches

[('south korea', 100),
 ('southkorea', 95),
 ('uk', 57),
 ('norway', 54),
 ('ireland', 54),
 ('usofa', 51),
 ('usa', 45),
 ('austria', 44),
 ('saudi arabia', 43),
 ('scotland', 42)]

In [20]:
# build a function to replace any appearance of bad spelling of south korea
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = process.extract(string_to_match, strings, limit=10)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")

In [21]:
# use the function to raplace the bad spelled south corea in dataframe profesors
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")

All done!

## Examine another column : Graduated from

In [26]:
# let see professors countries
# convert to lower case
professors['Graduated from'] = professors['Graduated from'].str.lower()
# remove trailing white spaces
professors['Graduated from'] = professors['Graduated from'].str.strip()
countries = professors['Graduated from'].unique()
countries.sort()
countries
# check inconsitences like with "capital university of science & technology"

array(['abasyn university', 'abdul wali khan university, mardan',
       'abdus salam school of mathematical sciences,gc university',
       'agricultural university peshawar', 'allama iqbal open university',
       'asian institute of technology', 'aston university, birmingham',
       'australian national university, caneberra',
       'bahauddin zakariya university', 'bahria university',
       'bahria university,islamabad',
       'balochistan university of information technology, engineering and management sciences',
       'barani institute of information technology',
       'beaconhouse national university', 'beihang university',
       'beijing institute of technology',
       'beijing institute of technology beijing',
       'beijing university of posts & telecommunications',
       'biztek institute of business & technology,karachi',
       'blekinge institute of technology', 'boston university',
       'brock university canada', 'brunel university', 'bukc',
       'california state university',
       'capital university of science & technology',
       'capital university of science and technology',
       'carnegie mellon university, pittsburgh',
       'cecos university of information technology and emerging sciences,peshawar',
       'centre for advanced studies in engineering',
       'chalmers university of technology', 'chinese academy of sciences',
       'chosun university', 'city university of science and technology',
       'colorado state university', 'colorado technical university',
       'columbia university',
       'comsats institute of information technology',
       'comsats institute of information technology,islamabad',
       'comsats institute of information technology,lahore',
       'comsats institute of information technology,vehari',
       'comsats institute of information technology,wah cantt',
       'concordia university,montreal', 'coventry university',
       'cranfield university', 'delft university of technology',
       'depaul university, chicago',
       'dresden university of technology, dresden', 'duet,karachi',
       'eindhoven university of technology (tu/e)',
       'fast– national university of computer and emerging sciences',
       'fast– national university of computer and emerging sciences,chiniot-faisalabad',
       'fast– national university of computer and emerging sciences,islamabad',
       'fast– national university of computer and emerging sciences,lahore',
       'fast– national university of computer and emerging sciences,peshawar',
       'fatima jinnah women university, rawalpindi',
       'fedral urdu university', 'florida atlantic university',
       'foundation university', 'galilée - université paris 13',
       'george mason university', 'george washington university',
       'georgetown university,dc',
       'ghulam ishaq khan institute of science and technology',
       'gomal university', 'government college university',
       'government college university, faisalabad',
       'government college university,faisalabad',
       'graz university of technology', 'grenoble', 'griffith university',
       'griffith university,nathan campus', 'guildford',
       'gwangju institute of science and technology',
       'hamburg university of technology', 'hamdard university',
       'hanyang university, ansan', 'harbin institute of technology',
       'hitec university,taxila', 'hongik university',
       'huazhong university of science and technology (hust), wuhan',
       'ibms kp agricultural university peshawar',
       'illinois institute of technology',
       'ilmenau university of technology',
       'imperial college, university of london',
       'information technology university (itu)',
       'inria saclay ile-de-france', 'insa de lyon, rhone',
       'institute of business administration',
       'institute of business administration,karachi',
       'institute of business administration,sukkur',
       'institute of management sciences, peshawar',
       'institute of managment sciences, peshawar',
       'international islamic university',
       'international islamic university,islamabad',
       'iowa state university', 'iqra university',
       'iqra university,islamabad', 'iqra university,karachi',
       'islamia college university', 'isra university',
       'jinnah university for women', 'jku', 'jnu',
       'john moorse university, liverpool', 'jonkoping university',
       'king abdullah university of science and technology',
       'kingston university london',
       'kohat university of science & technology, kohat',
       'kth royal institute of technology', 'kyung hee university',
       'kyungpook national university', 'kyushu university,fukuoka',
       'lahore college for women university', 'lahore leads university',
       'lahore university of management sciences', 'linköping university',
       'liverpool john moores university', 'london university',
       'loughborough university', 'manchester metropolitan university',
       'manchester university', 'massachusetts institute of technology',
       'max planck institute for computer science',
       'mehran university of engineering & technology',
       'mid sweden university', 'middle east technical university',
       'middlesex university', 'minhaj university lahore',
       'mohammad ali jinnah university', 'monash university',
       'muroran institute of technology,hokkaido', 'myongji university',
       'nancy 2 university', 'nanyang tech university',
       'nanyang technological university',
       'national college of business administration and economics',
       'national textile university',
       'national university of modern languages',
       'national university of modern languages,islamabad',
       'national university of sciences and technology',
       'national university of sciences and technology-niit',
       'national university of singapore', 'ncsu',
       'ned university of engineering and technology',
       'new york institute of technology',
       'north dakota state university', 'northeastern university,boston',
       'norwegian university of science and technology (ntnu),',
       'nottingham trent university', 'oxford brookes university',
       'pace university, new york',
       'paf-karachi institute of economics and technology',
       'pakistan institute of engineering and applied sciences',
       'paris descartes university', 'paris tech university of eurecom',
       'pir mehr ali shah arid agriculture university',
       'pohang university of science and technology',
       'politecnico di milano', 'politecnico di torino',
       'pompeu fabra university barcelona', 'preston',
       'punjab university college of information technology',
       'purdue university',
       'quaid-e-awam university of engineering, science & technology',
       'quaid-i-azam university', 'queen mary university of london',
       'razak school of engineering and advanced technology, universiti teknologi malaysia (utm)',
       'riphah international university',
       'riphah international university,faisalabad',
       'rutgers state university of new jersey, nj',
       'rwth aachen university', 'saarland university',
       'sapienza university of rome',
       "sardar bahadur khan women's university",
       'seoul national university',
       'shah abdul latif university, khairpur',
       'shaheed zulfikar ali bhutto institute of science and technology',
       'shaheed zulfikar ali bhutto institute of science and technology,islamabad',
       'sindh agriculture university', 'sindh university',
       'sir syed university of engineering and technology',
       'skolkovo institute of science and technology,',
       'south asian university', 'srh hochschule heidelberg',
       'ssindh agriculture university', 'staffordshire university',
       'stanford university', 'state university of new york system',
       'stockholm university', 'sungkyunkwan university',
       'superior university, lahore', 'swansea',
       'swedish university of agricultural sciences, uppsala',
       'swinburne university of technology',
       'technical university of braunschweig',
       'technical university of graz', 'temple university',
       'the islamia university of bahawalpur',
       'the ohio state university', 'the queens university of belfast',
       'the state university of new jersey', 'the university of auckland',
       'the university of birmingham', 'the university of cambridge',
       'the university of leeds', 'the university of manchester',
       'the university of queensland',
       'the university of texas at austin', 'the university of york',
       'tilburg university', 'tokyo institute of technology',
       'tsinghua university', 'tu berlin', 'tu wien',
       'united nations university international institute for software technology (unu-iist)',
       'univ of porto/univ of aveiro portugal/uni of minho',
       "universite d'evry val d'essonne",
       'universiti putra malaysia putra', 'universiti technologi',
       'universiti teknologi petronas',
       'universiti tun hussein onn malaysia',
       'university institute of information technology',
       'university of abertay dundee', 'university of agriculture',
       'university of agriculture faisalabad',
       'university of agriculture, faisalabad',
       'university of arid agriculture', 'university of balochistan',
       'university of bath', 'university of bayreuth',
       'university of bedfordshire', 'university of bergen',
       'university of birmingham', 'university of bologna',
       'university of bonn', 'university of bradford',
       'university of bristol', 'university of british columbia',
       'university of caen', 'university of canterbury',
       'university of central florida', 'university of central missouri',
       'university of central punjab', 'university of colorado',
       'university of dundee', 'university of engineering & technology',
       'university of engineering and technology',
       'university of engineering and technology,peshawar',
       'university of engineering and technology,taxila',
       'university of essex', 'university of florida',
       'university of freiburg', 'university of genova',
       'university of glasgow', 'university of grenoble',
       'university of gujrat', 'university of huddersfield',
       'university of illinois', 'university of innsbruck',
       'university of karachi', 'university of kent',
       'university of konstanz', 'university of kuala lumpur',
       'university of lahore', 'university of leeds',
       'university of leicester', 'university of limerick',
       'university of liverpool', 'university of malaga',
       'university of malaya', 'university of management and technology',
       'university of manchester',
       'university of manchester institute of science and technology',
       'university of mississippi', 'university of missouri, kc',
       'university of new south wales, sydney',
       'university of nice, sophia antipolis',
       'university of northampton', 'university of notre dame indiana',
       'university of orleans', 'university of oslo',
       'university of oviedo', 'university of paisley',
       'university of paris', 'university of paris-est',
       'university of patras', 'university of peshawar',
       'university of pittsburgh', 'university of plymouth',
       'university of porto', 'university of regina',
       'university of rochester', 'university of rome tor vergata',
       'university of saarland', 'university of salford',
       'university of shanghai for science and technology',
       'university of south australia', 'university of south brittany',
       'university of south florida', 'university of southampton',
       'university of southern california', 'university of stirling',
       'university of stuttgart', 'university of sunderland',
       'university of surrey', 'university of sussex',
       'university of technology',
       'university of texas at arlington (uta)',
       'university of the punjab', 'university of the punjab,gujranwala',
       'university of the west scotland', 'university of trento',
       'university of turbat', 'university of turin', 'university of ulm',
       'university of vienna', 'university of virginia',
       'university of wales', 'university of wales,aberystwyth',
       'university of waterloo', 'university of westminster',
       'university of windsor', 'university of york',
       'university of\xa0liverpool john moores university',
       'university paris', 'universität salzburg',
       'université de la rochelle', 'université henri poincaré, nancy 1,',
       'universtiy of karachi', 'universtiy of lahore',
       'uppsala university', 'usman institute of technology',
       'usman institute of technology (hamdard university)',
       'vienna university of technology',
       'virtual university of pakistan', 'vrije university, amsterdam',
       'wayne state university', 'xiamen university',
       'zhejiang university', 'åbo akademi university,'], dtype=object)

Do the sema as before