# upercase strip group agg

In [1]:
import pandas as pd

In [2]:
# set the path
path = "../../../data/"
csv_i_name = "LibrosMSN.csv"

# set out name
csv_o_name = "LibrosMSN_Clean.csv"
csv_o_grouped = "LibrosMSN_Temas.csv"

# build the paths in and out
path_name_in = path + csv_i_name
path_clean_out = path + csv_o_name
path_group_out = path + csv_o_grouped

# open the file into a dataframe
df=pd.read_csv(path_name_in)
df

,Autor,Título,Tema,Fecha,Precio
0,Alberto Ferrari y Marco Russo,Analyzing Data with Power BI and Power Pivot,Power BI y Excel,01/01/2017,"28,68"
1,Alberto Ferrari y Marco Russo,DAX Patterns,DAX,01/01/2020,"39,2"
2,Alberto Ferrari y Marco Russo,Definitive Guide to DAX,DAX,01/10/2019,"29,73"
3,Brett Powell,Microsoft Power BI Cookbook,Power bI,01/01/2017,"40,45"
4,Brett Powell,Mastering Microsoft Power BI,BI,01/01/2018,"32,74"
5,Chris Webb,Power Query for Power BI and Excel,Power Query,01/01/2014,"24,41"
6,Dan Clark,Beginning Microsoft Power BI,Informes,01/01/2020,"33,78"
7,Errin O'Connor,Microsoft Power BI Dashboards Step by Step,Power BI,01/01/2018,"34,49"
8,Ken Puls y Miguel Escobar,M for Data Monkey,Power Query,01/01/2015,"21,48"
9,Maslyuk Daniil,Exam Ref 70-778,Certificación,01/01/2018,"21,62"
10,Matt Allington,Super Charge Power BI,Power bI,01/01/2018,"11,99"
11,Raviv Gil,"Collect, Combine, and Transform Data Using Pow...",Power Query,01/01/2019,"22,63"
12,Reza Rad,Basics of Power BI Modeling,Power BI Modelado,01/01/2020,"52,77"
13,Rob Collie,Power Pivot and Power BI,Excel y Power BI,01/01/2016,"18,82"
14,Rothua Demannu,Power BI in 24 Hours,Power bI,01/01/2017,"10,7"
15,Saransh Paliwal,Analyzing Data with Microsoft Power BI DA100,Certificación,01/01/2020,"17,06"

## Lets group by Tema.
Objective: build a df with tema, quantity, autors quantity, initial date, starting price

### Clean the column tema first

In [3]:
# a. convert to upper each word, b. replace Bi with BI c. remove leading and trailing charagters
df.Tema = df.Tema.str.title().str.replace("Bi", "BI").str.strip()

## group

In [4]:
# take a look to groped values in df
df.groupby('Tema').value_counts()

Tema               Autor                          Título                                                  Fecha       Precio
BI                 Brett Powell                   Mastering Microsoft Power BI                            01/01/2018  32,74     1
Certificación      Maslyuk Daniil                 Exam Ref 70-778                                         01/01/2018  21,62     1
                   Saransh Paliwal                Analyzing Data with Microsoft Power BI DA100            01/01/2020  17,06     1
Dax                Alberto Ferrari y Marco Russo  DAX Patterns                                            01/01/2020  39,2      1
                                                  Definitive Guide to DAX                                 01/10/2019  29,73     1
Excel Y Power BI   Rob Collie                     Power Pivot and Power BI                                01/01/2016  18,82     1
Informes           Dan Clark                      Beginning Microsoft Power BI                            01/01/2020  33,78     1
Power BI           Brett Powell                   Microsoft Power BI Cookbook                             01/01/2017  40,45     1
                   Errin O'Connor                 Microsoft Power BI Dashboards Step by Step              01/01/2018  34,49     1
                   Matt Allington                 Super Charge Power BI                                   01/01/2018  11,99     1
                   Rothua Demannu                 Power BI in 24 Hours                                    01/01/2017  10,7      1
Power BI Modelado  Reza Rad                       Basics of Power BI Modeling                             01/01/2020  52,77     1
Power BI Y Excel   Alberto Ferrari y Marco Russo  Analyzing Data with Power BI and Power Pivot            01/01/2017  28,68     1
Power Query        Chris Webb                     Power Query for Power BI and Excel                      01/01/2014  24,41     1
                   Ken Puls y Miguel Escobar      M for Data Monkey                                       01/01/2015  21,48     1
                   Raviv Gil                      Collect, Combine, and Transform Data Using Power Query  01/01/2019  22,63     1
Name: count, dtype: int64

In [5]:
# count rows by tema
df.groupby('Tema').Tema.count()

Tema
BI                   1
Certificación        2
Dax                  2
Excel Y Power BI     1
Informes             1
Power BI             4
Power BI Modelado    1
Power BI Y Excel     1
Power Query          3
Name: Tema, dtype: int64

In [6]:
# look for oldest date
df.groupby('Tema').Fecha.min()

Tema
BI                   01/01/2018
Certificación        01/01/2018
Dax                  01/01/2020
Excel Y Power BI     01/01/2016
Informes             01/01/2020
Power BI             01/01/2017
Power BI Modelado    01/01/2020
Power BI Y Excel     01/01/2017
Power Query          01/01/2014
Name: Fecha, dtype: object

In [7]:
# look for starting price
df.groupby('Tema').Precio.min()

Tema
BI                   32,74
Certificación        17,06
Dax                  29,73
Excel Y Power BI     18,82
Informes             33,78
Power BI              10,7
Power BI Modelado    52,77
Power BI Y Excel     28,68
Power Query          21,48
Name: Precio, dtype: object

In [8]:
df_temas = df.groupby('Tema').agg(
    C_Temas = pd.NamedAgg(column='Tema', aggfunc='count'),
    Autores = pd.NamedAgg(column='Autor', aggfunc='nunique'),
    F_Inicial = pd.NamedAgg(column='Fecha', aggfunc='min'),
    Prec_Desde = pd.NamedAgg(column='Precio', aggfunc='min')
)

In [9]:
df_temas

                   C_Temas  Autores   F_Inicial Prec_Desde
Tema
BI                       1        1  01/01/2018      32,74
Certificación            2        2  01/01/2018      17,06
Dax                      2        1  01/01/2020      29,73
Excel Y Power BI         1        1  01/01/2016      18,82
Informes                 1        1  01/01/2020      33,78
Power BI                 4        4  01/01/2017       10,7
Power BI Modelado        1        1  01/01/2020      52,77
Power BI Y Excel         1        1  01/01/2017      28,68
Power Query              3        3  01/01/2014      21,48

## Save the results

In [10]:
## Save the files
df.to_csv(path_clean_out, encoding="latin-1")
df_temas.to_csv(path_group_out, encoding="latin-1")