In [4]:
import pandas as pd
from mimesis import Person, Address
from mimesis.locales import Locale

# Crear instancias de Person y Address
person = Person(Locale.EN)
address = Address(Locale.EN)

# Generar un ID de cliente único y secuencial
def generar_id_cliente(index):
    return f"{index + 100000:06}"

# Lista para almacenar los datos de los clientes
clientes_data = []

# Generar 100 registros de clientes
for i in range(100):
    cliente = {
        "id_cliente": generar_id_cliente(i),
        "nombre1": person.first_name(),
        "nombre2": person.first_name(),
        "apellido": person.last_name(),
        "email": person.email(),
        "telefono": person.telephone(),
        "calle": address.street_name(),
        "numero": address.street_number(),
        "localidad": address.city(),
        "provincia": address.state(),
        "pais": address.country()
    }
    clientes_data.append(cliente)

# Convertir a un DataFrame de pandas
df_clientes = pd.DataFrame(clientes_data)
df_clientes

,id_cliente,nombre1,nombre2,apellido,email,telefono,calle,numero,localidad,provincia,pais
0,100000,Mervin,Shelton,Wynn,play1877@gmail.com,+18283187208,Hillside,321,West Lafayette,Wyoming,Guinea
1,100001,Long,Tobias,Freeman,workout1995@yahoo.com,+14844848092,Ogden,860,Prior Lake,North Dakota,South Korea
2,100002,Ernest,Doyle,Schroeder,encyclopedia1917@gmail.com,+1-718-139-9614,Woodside,551,Victorville,Maine,Niger
3,100003,Sean,Wade,Delaney,competition2049@example.com,+15408293935,Kenwood,415,Goleta,Wyoming,Ethiopia
4,100004,Stormy,Moses,Koch,bestsellers1805@protonmail.com,+19754585152,Eastwood,948,Terre Haute,Georgia,Burkina Faso
...,...,...,...,...,...,...,...,...,...,...,...
95,100095,Zane,Peter,Taylor,spectacular1822@yahoo.com,+14407240276,Bryant,166,Horn Lake,Utah,Honduras
96,100096,Shandra,Austin,Peters,irish1990@outlook.com,+17033658733,Claremont,276,Layton,New Mexico,Senegal
97,100097,Branden,Adalberto,Hunter,symbol1879@protonmail.com,+18030117494,Seventh,1223,Pearl,Rhode Island,Puerto Rico
98,100098,Marvin,Cliff,Perez,enables1814@duck.com,+17621367717,Forest View,1297,Altus,Oklahoma,Brazil
99,100099,Rosy,Leonel,Edwards,speakers1957@protonmail.com,+17817302768,Josiah,873,Fargo,South Dakota,Mozambique

In [6]:
# Guardar en un archivo CSV
path='../data/'
csv_file = path + 'clientes_mimesis.csv'
df_clientes.to_csv(csv_file, index=False, encoding='utf-8')

# Guardar en un archivo Excel
excel_file = path + 'clientes_mimesis.xlsx'
df_clientes.to_excel(excel_file, index=False)

print(f"Archivos '{csv_file}' y '{excel_file}' generados con éxito.")

Archivos '../data/clientes_mimesis.csv' y '../data/clientes_mimesis.xlsx' generados con éxito.